<h2>Наши контакты</h2>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<address>
			<strong>ЗАО "ВОЛСтелеком"</strong><br>
			125130, г. Москва, <br class="visible-md">
			ул. Нарвская, 15а, стр.5<br>
			<abbr title="Phone">P:</abbr> (495) 617-1825<br>
			<abbr title="Fax">F:</abbr> (495) 666-3269
		</address>
		<address>
			<strong>Email</strong><br>
			<a href="mailto:info@volstelecom.ru">info@volstelecom.ru</a>
		</address>
	</div>
	<div class="col-xs-12 col-md-8">

		<div class="map center-block hidden-xs">
			<a href=https://maps.yandex.ru/?um=constructor:JFux7o3a48GjROdEkH6iMJEeoI31S1RD&source=constructor target=_blank><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?sid=JFux7o3a48GjROdEkH6iMJEeoI31S1RD&width=595&height=450&lang=ru_RU&sourceType=constructor" alt="" style="border: 0;" /></a>
		</div>
		<div class="map center-block visible-xs">
			<a href=https://maps.yandex.ru/?um=constructor:JFux7o3a48GjROdEkH6iMJEeoI31S1RD&source=constructor target=_blank><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?sid=JFux7o3a48GjROdEkH6iMJEeoI31S1RD&width=280&height=380&lang=ru_RU&sourceType=constructor" alt="" style="border: 0;" /></a>
		</div>
	</div>
</div>   