
<h2>Волоконно-оптическое оборудование</h2>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Пассивные компоненты ВОЛС
              </a>
            </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Кросс оптический
              </a>
            </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>


<div class="alert alert-success hidden">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>Отлично! </strong>Наш менеджер свяжется с вами для уточнения деталей.
</div>
<form class="form" role="form">
	<div class="form-group">
		<label for="client_name">Ваше имя</label>
		<input type="Text" class="form-control" id="client_email" placeholder="Ваше имя">
	</div>
	<div class="form-group">
		<label for="client_telephon">Телефон</label>
		<input type="text" class="form-control" id="client_telephone" placeholder="Телефон">
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox"> Связаться со мной по электронной почте
		</label>
	</div>
	<div class="form-group hidden email">
		<label for="client_email">Адрес эл. почты</label>
		<input type="email" class="form-control" id="client_email" placeholder="Адрес электронной почты">
	</div>
	
  <button type="button" class="btn btn-success">Отправить заявку</button>
</form>
<script src="{{ url_for('static',filename='js/equipment.js')}}"></script>


<!--div class="equipment_list">
	<div class="equipment_list_item">
		<div class="title">
			<p>Пассивные компоненты ВОЛС</p>
			<div class="arrow"></div>
		</div>
		<div class="equipment_items">
			<p>Оптичексие шнуры</p>
			<table>
				<tr>
					<td><img src="img/shop/FC_LC_duplex_1.jpg" alt="SM оптический патч-корд"></td>
					<td class="decription"><p>FC-LC duplex,1 м, SM оптический патч-корд (шнур)</p></td>
					<td><p>178.18 <img src="img/rub.png"> </p></td>
				</tr>
				<tr>
					<td><img src="img/shop/FC_LC_duplex_1.jpg" alt="SM оптический патч-корд"></td>
					<td class="decription"><p>FC-LC simplex,1 м, SM оптический патч-корд (шнур)</p></td>
					<td><p>100.23 <img src="img/rub.png"> </p></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="equipment_list_item">
		<div class="title">
			<p>Оптические кроссы</p>
			<div class="arrow"></div>
		</div>
		<div class="equipment_items">
			<div class="equipment_item">
			
			</div>
		</div>
	</div>
	<div class="equipment_list_item">
		<div class="title">
			<p>Оптические муфты</p>
			<div class="arrow"></div>
		</div>
		<div class="equipment_items">
			<div class="equipment_item">
			
			</div>
		</div>
	</div>

</div-->
