<h1>Волоконно-оптическое оборудование</h1>
	<p  class="text-justify">Наша компания поставляет на рынок обширный ассортимент оборудования, материалов и комплектующих изделий для прокладки и монтажа ВОЛС, используемых в сетях PON, кабельного телевидения, магистральных и городских линий связи, монтажно-технологичеcкого и измерительного оборудования, инструментов и комплектующих изделий для современных оптических сетей связи. </p>
<div class="row first">
	<div class="col-sm-3 aside">
		<div class="input-group search">
			 <span class="input-group-addon" id="sizing-addon2 basic-addon2"><i class="material-icons">search</i></span>
			 <input type="text" class="form-control" placeholder="Поиск" id="search-input" aria-describedby="sizing-addon2">
		</div>
		<ul class="levels">
			<li class="active"><a href="/level">Сварочные аппараты ВОЛС</a></li>
			<li><a href="/level">Измерительные приборы</a></li>
			<li><a href="/level">Техническое обслуживание и ремонт приборов</a></li>
			<li><a href="/level">Кроссовое оборудование</a></li>
			<li><a href="/level">Пигтейлы оптические</a></li>
			<li><a href="/level">Розетки оптические</a></li>
			<li><a href="/level">Патч-корды</a></li>
			<li><a href="/level">Материалы для производства патч-кордов</a></li>
			<li><a href="/level">Расходные материалы и инструмент</a></li>
			<li><a href="/level">Аттенюаторы</a></li>
			<li><a href="/level">Разветвители оптические</a></li>
			<li><a href="/level">Кабели связи</a></li>
			<li><a href="/level">Кабельная арматура</a></li>
			<li><a href="/level">Муфты для кабелей связи</a></li>
			<li><a href="/level">Материалы для распределительных сетей</a></li>
			<li><a href="/level">Линейные сооружения связи</a></li>
			<li><a href="/level">Шкафы и стойки</a></li>
			<li><a href="/level">Оборудование связи</a></li>
		</ul>   
	</div>
	<div class="col-sm-9 sublevel">
	</div>
	
</div>
	<p class="well text-justify">Если Вы нашли у нас то, что Вам нужно, сделайте заказ или просто позвоните, мы с удовольствием поможем Вам в самое короткое время.</p>
	<div class="alert alert-success hidden">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>Отлично! </strong>Наш менеджер свяжется с вами для уточнения деталей.
	</div>
<div class="row second">
	<div class="col-sm-3 user-form">
		<form id="form" role="form">
			<div class="form-group">
				<div class="form-group has-feedback">
					<label for="client_name">Ваше имя</label>
					<input type="text" class="form-control" id="client_name" placeholder="Ваше имя">
					<span class="glyphicon form-control-feedback"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="form-group has-feedback">
					<label for="client_telephon">Телефон</label>
					<input type="text" class="form-control" id="client_telephone" placeholder="+7">
					<span class="glyphicon form-control-feedback"></span>
				</div>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" class="show_email"> Связаться со мной по эл. почте
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" class="show_comment"> Добавить комментарий
				</label>
			</div>
			<div class="form-group email">
				<div class="form-group has-feedback">
					<label for="client_email">Адрес эл. почты</label>
					<input type="email" class="form-control" id="client_email" placeholder="Адрес электронной почты">
					<span class="glyphicon form-control-feedback"></span>
				</div>
			</div>
			<div class="comment">
				<label for="client_name">Ваш комментарий</label>
				<textarea class="form-control" rows="3"></textarea>
			</div>
			<button type="button" class="btn btn-default" id="submit-request">Отправить заявку</button>
 		</form>
	</div>
	<div class="col-sm-9">
		<label>Выбранные товары</label>
		<ul class="client-cart list-group">
			<li class="list-group-item">
				<span class="total-count">0.00 рублей</span>
				<strong>Общая сумма заявки</strong>
			</li>
		</ul>
	</div>
</div>
<script>
	$.getScript('static/js/equipment.js');
</script>