<h1>Волоконно-оптическое оборудование</h1>
	<p  class="text-justify">Наша компания поставляет на рынок обширный ассортимент оборудования, материалов и комплектующих изделий для прокладки и монтажа ВОЛС, используемых в сетях PON, кабельного телевидения, магистральных и городских линий связи, монтажно-технологичеcкого и измерительного оборудования, инструментов и комплектующих изделий для современных оптических сетей связи. </p>
<div class="row first">
	<div class="col-sm-3 aside">
		<ul class="levels">
			<li class="active"><a href="/passivnieComponentiVols">Пассивные компоненты ВОЛС</a></li>
			<li><a href="/krossOpticheskiy">Оптические кроссы</a></li>
			<li><a href="/muftaOpticheskaya">Оптические муфты</a></li>
			<li><a href="/instrumentDlyaRazdelkiVols">Инструменты для разделки</a></li>
			<li><a href="/diagnostikaVols">Диагностика ВОЛС</a></li>
			<li><a href="/svarochnyeApparaty">Сварочные аппарты</a></li>
			<li><a href="/reflektometrOpticheskiy">Оптические рефлектометры</a></li>
			<li><a href="/rashodnyeMaterialy">Расходные материалы</a></li>
			<li><a href="/dopolnitelnoeOborudovanie">Доп. оборудование</a></li>
			<li><a href="/patchKordyOpticheskie">Оптические патчкорды</a></li>
			<li><a href="/shkafyIStoiki">Шкафы и стойки</a></li>
			<li><a href="/opticheskieKonnektory">Оптические коннекторы</a></li>
			<li><a href="/kabelnyeSborki">Кабельные сборки</a></li>
		</ul>
	</div>
	<div class="col-sm-9 sublevel">
	</div>
	
</div>
	<p class="well text-justify">Если Вы нашли у нас то, что Вам нужно, сделайте заказ или просто позвоните, мы с удовольствием поможем Вам в самое короткое время.</p>
	<div class="alert alert-success hidden">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>Отлично! </strong>Наш менеджер свяжется с вами для уточнения деталей.
	</div>
<div class="row second">
	<div class="col-sm-3 user-form">
		<form id="form" role="form">
			<div class="form-group">
				<div class="form-group has-feedback">
					<label for="client_name">Ваше имя</label>
					<input type="text" class="form-control" id="client_name" placeholder="Ваше имя">
					<span class="glyphicon form-control-feedback"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="form-group has-feedback">
					<label for="client_telephon">Телефон</label>
					<input type="text" class="form-control" id="client_telephone" placeholder="+7">
					<span class="glyphicon form-control-feedback"></span>
				</div>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" class="show_email"> Связаться со мной по эл. почте
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" class="show_comment"> Добавить комментарий
				</label>
			</div>
			<div class="form-group email">
				<div class="form-group has-feedback">
					<label for="client_email">Адрес эл. почты</label>
					<input type="email" class="form-control" id="client_email" placeholder="Адрес электронной почты">
					<span class="glyphicon form-control-feedback"></span>
				</div>
			</div>
			<div class="comment">
				<label for="client_name">Ваш комментарий</label>
				<textarea class="form-control" rows="3"></textarea>
			</div>
			<button type="button" class="btn btn-default submit-button">Отправить заявку</button>
 		</form>
	</div>
	<div class="col-sm-9">
		<label>Выбранные товары</label>
		<ul class="client-cart list-group">
			<li class="list-group-item">
				<span class="total-count">0.00 рублей</span>
				<strong>Общая сумма заявки</strong>
			</li>
		</ul>
	</div>
</div>

<script src="{{ url_for('static',filename='js/equipment.js')}}"></script>
