		<div class="panel-group" id="accordion">
			  <div class="panel panel-default panel-transparent">
				<div class="panel-heading">
				  <h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#">
							Кросс оптический стеночный
						 </a>
				   </h4>
				</div>
				<div class="panel-collapse collapse">
				  <div class="panel-body">
						<div class="row">
							<div class="col-sm-2">
								<img src="static/shop/passivnye-komponenty-vols/opticheskiy-shnur-fc-fc-lc-lc/opticheskiy-shnur-fc-fc-lc-lc0.jpg" alt="" class="img-responsive center-block"></img>
							</div>
							<div class="col-sm-6 description">
								<p>FC-LC duplex,1 м, SM</p>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<span class="input-group-addon up">&#9650;</span>
									<input type="number" class="form-control" value="0"/>
									<span class="input-group-addon down">&#9660;</span>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="row price">
									<div class="col-sm-7 col-sm-offset-2">
										<p><b>178.18</b></p>
									</div>
									<div class="col-sm-3">
										<img src="static/shop/rub.png" class="img-responsive">
									</div>
								</div>
								
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2">
								<img src="static/shop/passivnye-komponenty-vols/opticheskiy-shnur-fc-fc-lc-lc/opticheskiy-shnur-fc-fc-lc-lc1.jpg" alt="" class="img-responsive center-block"></img>
							</div>
							<div class="col-sm-6 description">
								<p>FC-LC simplex,1 м, SM</p>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<span class="input-group-addon up">&#9650;</span>
									<input type="number" class="form-control" value="0"/>
									<span class="input-group-addon down">&#9660;</span>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="row price">
									<div class="col-sm-7 col-sm-offset-2">
										<p><b>100.23</b></p>
									</div>
									<div class="col-sm-3">
										<img src="static/shop/rub.png" class="img-responsive">
									</div>
								</div>
								
							</div>
						</div>
				  </div>
				</div>
			  </div>
			  <div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title">
						  <a data-toggle="collapse" data-parent="#accordion" href="#">
							Кросс оптический стеоечный
						  </a>
						</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse">
				  <div class="panel-body">
						выисмыв
				  </div>
				</div>
			  </div>
			  <div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title">
						  <a data-toggle="collapse" data-parent="#accordion" href="#">
							Комплектующие к оптическим кроссам
						  </a>
						</h4>
				</div>
				<div class="panel-collapse collapse">
				  <div class="panel-body">
						выисмыв
				  </div>
				</div>
			  </div>
			</div>
	
	<script src="static/js/sublevel.js"></script>