<h2>О компании</h2>
<p>
 ЗАО «ВОЛСтелеком» является членом саморегулируемой организации в области <strong>строительства и проектирования объектов связи</strong> и коммуникаций и имеет соответствующие 
	сертификаты на осуществление строительной деятельности на территории России. Так же ЗАО «ВОЛСтелеком» имеет лицензию на осуществление работ, 
	связанных с использованием сведений составляющих государственную тайну, выданная УФСБ России по г. Москве и Московской области, сертификат системы 
	менеджмента качества ГОСТ ISO 9001-2011 (ISO 9001:2008) применительно к разработке проектной документации, монтажу, пусконаладочным работам, 
	техническому обслуживанию обектов связи. 
    В 2014 году наша компания была награждена Национальным сертификатом "ЛИДЕР ОТРАСЛИ 2014" за весомый вклад в развитие российской экономики,
	добросовестную уплату налогов, достижение высоких экономических показателей, выразившихся в достижении 2-го места в отраслевом рейтинге 
	ОКВЕД 45.21.3 "Производство общестроительных работ по прокладке магистральных трубопроводов, линий связи и линий электропередачи".
</p>
<div class="row main-imgs">
	<div class="col-xs-5 col-xs-offset-1">
		<img src="{{ url_for('static',filename='img/s_91s.jpg')}}" class="img-responsive center-block" alt="Responsive image">
	</div>
	<div class="col-xs-5">
		<img src="{{ url_for('static',filename='img/s_92s.jpg')}}" class="img-responsive center-block" alt="Responsive image">
	</div>
	
</div>
<div class="row hidden-xs">
	<div class="col-sm-4">
		<div class="article">
			<img src="{{ url_for('static',filename='img/history.png')}}" class="img-responsive center-block" alt="Responsive image">
			
			<h4>История компании</h4>
			<p class="history_short">
				Организованная в 2004 г., компания «ВОЛСтелеком» занимается проектированием 
				и строительством волоконно-оптических линий связи 
				<span class="history_long">
					с использованием, как в телефонной канализации, 
					коллекторах, в устоях мостов, на режимных улицах и закрытых предприятиях. 
					За годы деятельности компанией «ВОЛСтелеком» накоплен огромный опыт в сфере 
					услуг связи: проектирования, строительства, технической эксплуатации, 
					ремонта и обслуживания линейно-кабельных сооружений и линий связи, 
					а также монтажа и настройки станционного оборудования. <span><br>Свернуть</span>
				</span>
				<span class="more">Подробнее...</span>
			</p>
		</div>
		
	</div>
	<div class="col-sm-4">
		<div class="article">
			<img src="{{ url_for('static',filename='img/worker.png')}}" class="img-responsive center-block" alt="Responsive image">
			<h4>Персонал</h4>
			<p class="staff_short">
				Высокий профессионализм специалистов и значительный технический потенциал, 
				основанный на самых передовых технологиях производства.
				<span class="staff_long">
					Оснащение современным 
					оборудованием импортного производства ("Fujikura", "Furukava", "Hewlett-Packard", "Wavetek", "ANDO", “Fluke”), 
					применение как отечественных, так и импортных комплектующих ("Lucient", "Siemens", "Pirelli"), 
					позволили компании принять участие в реализации телекоммуникационных проектов, 
					целью которых является создание в России высококачественных сетей связи.<span>Свернуть</span>
				</span>
				<span class="more"><br>Подробнее...</span>
			</p>	
		</div>
	</div>
	<div class="col-sm-4">
		<div class="article">
			<img src="{{ url_for('static',filename='img/activity.png')}}" class="img-responsive center-block" alt="Responsive image">
			<h4>Деятельность</h4>
			<p class="activity_short">
				Направление деятельности ЗАО «ВОЛСтелеком» складывается не только из проектирования и строительства 
				магистральных ВОЛС.
				<span class="activity_long">
					Компанией проводятся работы по реконструкции и модернизации существующих 
					сетей связи и строительству телефонной канализации в г. Москве и Подмосковье, участие в создании системы 
					кабельного телевидения в г. Москве, монтажу современного станционного и абонентского оборудования. 
					При этом основные операторы сетей связи выступают и в качестве заказчиков и в качестве партнеров 
					в указанных проектах, что существенно повышает эффективность выполняемых работ. 
					<span>Свернуть</span>
				</span>
				<span class="more">Подробнее...</span>
			</p>
		</div>
	</div>
</div>
<script src="{{ url_for('static',filename='js/main.js')}}"></script>