<h1>Наши клиенты</h1>
<p>В числе постоянных заказчиков нашей фирмы - государственные структуры, телекоммуникационные и финансовые компании, промышленные предприятия и организации.</p>
<div class="row">
	<div class="col-xs-6 col-sm-3">
		<div class="client_item">
			<img src="{{url_for('static',filename='img/rt_logo.png')}}" class="img-responsive center-block" alt="Ростелеком">
			<div class="line"></div>
			<p>ПАО "Ростелеком"</p>
		</div>
	</div>
	<div class="col-xs-6 col-sm-3">
		<div class="client_item">
			<img src="{{url_for('static',filename='img/mts_logo.png')}}" class="img-responsive center-block" alt="МТС">
			<div class="line"></div>
			<p>ПАО "МТС"</p>
		</div>
	</div>
	<div class="col-xs-6 col-sm-3">
		<div class="client_item">
			<img src="{{url_for('static',filename='img/cnt_logo.png')}}" class="img-responsive center-block" alt="Центральный телеграф">
			<div class="line"></div>
			<p>ПАО "Центральный Телеграф"</p>
		</div>
	</div>
	<div class="col-xs-6 col-sm-3">
		<div class="client_item">
			<img src="{{url_for('static',filename='img/gt_logo.png')}}" class="img-responsive center-block" alt="Газпром Телеком">
			<div class="line"></div>
			<p>ООО "Газпром Телеком"</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-6 col-sm-3">
		<div class="client_item">
			<img src="{{url_for('static',filename='img/mf_logo.png')}}" class="img-responsive center-block" alt="Мегафон">
			<div class="line"></div>
			<p>ПАО "Мегафон"</p>
		</div>
	</div>
	<div class="col-xs-6 col-sm-3">
		<div class="client_item">
			<img src="{{url_for('static',filename='img/vdnh_logo.png')}}" class="img-responsive center-block" alt="Газпром Телеком">
			<div class="line"></div>
			<p>ОАО "ВДНХ"</p>
		</div>
	</div>
	<div class="col-xs-6 col-sm-3">
		<div class="client_item">
			<img src="{{url_for('static',filename='img/sb_logo.png')}}" class="img-responsive center-block" alt="Сбербанк">
			<div class="line"></div>
			<p>ПАО "Сбербанк"</p>
		</div>
	</div>
	<div class="col-xs-6 col-sm-3">
		<div class="client_item">
			<img src="{{url_for('static',filename='img/moesk_logo.png')}}" class="img-responsive center-block" alt="МОЭСК">
			<div class="line"></div>
			<p>МОЭСК</p>
		</div>
	</div>
	
	
</div>
